html {
    font-family: 'helvetica neue';
    font-size: 10px;
    height: 100%;
}


*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    position: relative;
    min-height: 100%;
}